[submodule "opendbc"]
	path = opendbc
	url = https://github.com/MankaranSingh/opendbc
[submodule "panda"]
	path = panda
	url = https://github.com/commaai/panda.git
[submodule "cereal"]
	path = cereal
	url = https://github.com/MankaranSingh/cereal.git
