[submodule "opendbc"]
	path = opendbc
	url = https://github.com/flow-drive-ai/opendbc
[submodule "panda"]
	path = panda
	url = https://github.com/flow-drive-ai/panda
[submodule "cereal"]
	path = cereal
	url = https://github.com/flow-drive-ai/cereal
[submodule "rednose_repo"]
	path = rednose_repo
	url = https://github.com/flowdriveai/rednose.git
[submodule "laika_repo"]
	path = laika_repo
	url = https://github.com/flowdriveai/laika.git
