[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "==1.8.1"
numpy = "==1.22.4"
pycapnp = "==1.0.0"
pyyaml = "==6.0"
lmdb = "==1.3.0"
pkgconfig = "==1.5.5"
casadi = "==3.5.5"
scons = "==4.3.0"
future-fstrings = "==1.2.0"
tqdm = "==4.64.0"
libusb1 = "==2.0.1"
hexdump = ">=3.3"
pycryptodome = "==3.9.8"
nose = "==1.3.7"
parameterized = "==0.8.1"
requests = "==2.28.1"
flake8 = "==3.7.9"
cffi = "==1.14.3"
crcmod = "==1.7"
pre-commit = "==2.13.0"
pylint = "==2.5.2"
cython = "==0.29.30"
jinja2 = "==3.0.3"
psutil = "==5.8.0"
pyzmq = "==22.2.1"
screen-brightness-control = "==0.14.2"

[dev-packages]
"flowinit" = {path = "flowinit", editable = true}
"messenger" = {path = "messenger", editable = true}
"panda" = {path = "panda", editable = true}

[scripts]
controlsd = "python selfdrive/controls/controlsd.py"
plannerd = "python selfdrive/controls/plannerd.py"
calibrationd = "python selfdrive/calibration/calibrationd.py"
logmessaged = "python selfdrive/logmessaged.py"
keyvald = "python selfdrive/keyvald.py"
flowinit = "python flowinit/flowinit/flowinit.py"
scons = "scons"

[requires]
python_version = "3.9"
